.breadcrump{
    background-color: #f1f1f1;
    width: 100% !important;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    background-color: #f1f1f1;
    
}
.formSection {
    background-color: #f1f1f1;
    margin-right:10px ;

}
.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

