.box {
    margin-left: 25%;
    padding: 50px 30px;
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 12px 3px;
  }
  @media(max-width: 1000px){
        .box{
            margin-left: 10%;
        }
  }
  
  .label {
    display: block;
    line-height: 1;
    margin-bottom: 10px;
    color: rgb(33, 33, 33);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
  }
  .label1 {
    width: 100%;
    display: block;
    line-height: 1;
    padding: 12px 15px;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 14px;
    border: 1px solid rgb(235, 235, 235);
  }
  
  .button {
    display: inline-block;
    text-align: center;
    padding: 17px 36px;
    border-radius: 0px;
    line-height: 1;
    border: 0px;
    transition: all 0.4s ease 0s;
    font-family: Raleway;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 112, 4);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
  }

  .hOCsHb:hover {
    background-color: #474747;
    color: white;
    border:none;
  }

  .account.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: calc(15px);
    padding-left: calc(15px);
}

.create {
    display: inline-block;
    text-align: center;
    padding: 17px 36px;
    border-radius: 0px;
    line-height: 1;
    border: 0px;
    transition: all 0.4s ease 0s;
    font-family: Raleway;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 51, 58);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.create:hover{
    background-color: rgb(235, 235, 235);
    color: rgb(59, 72, 99);
    border:none;
}
.forget {
    display: inline-block;
    text-align: center;
    padding: 17px 36px;
    border-radius: 0px;
    line-height: 1;
    border: 0px;
    transition: all 0.4s ease 0s;
    font-family: Raleway;
    font-weight: 600;
    color: rgb(59, 72, 99);
    background-color: rgb(235, 235, 235);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.forget:hover{
    background-color: rgb(47, 51, 58);
    color: rgb(255, 255, 255);
    border:none;
}