.circle-product {
    width: 11rem;
    height: 11rem;
    margin: 2rem;
    border: 2px solid var(--circle);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.circle-product img {
    width: 4rem;
    height: 3rem;
}

.circle-product span {
    color: var(--circle);
}

.circle-product:hover {
    border: none;
}

.circle-product:before {
    content: '';
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    padding: 4rem;
    border: 2px dashed var(--specialOrange);
    position: absolute;
    display: none;
    animation: mymove 20s infinite;
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle-product:hover:before {
    display: block;
}