
.bg-slider{
    background-color: var(--slider);
    min-height: 800px;
    width: 100%;
  }

  .chair{
    float: right;
  }
 @media(max-width: 800px) {
    .chairsl{
        width: 250px;
        height: 250px;
        margin-left: 30px;
        flex-direction: column;
    }
  }
  .bg-warning{
    border-color: orange;
    background-color: orange!important;
  }

  .bg-btn {
    background-color: var(--specialOrange);
    color: white;
    font: 16px 'Raleway' sans-serif;
    border-radius: 0;
    line-height: 1;
    border: none;
    transition: all 0.4s ease 0s;
    padding: 17px 36px;
  }
  .bg-btn:hover {
    background-color: black;
    color: var(--specialOrange);
    border:none;
  }

  .title{
    font-size: 24px;
    line-height: 1;
    color: rgb(71, 71, 71);
    font-weight: 600;
  }
  .name{
    font-size: 72px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .slidertext{
    margin-bottom: 100px;
    text-align: left;
  }

  .imageslider {
    
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
  
    padding-top: 0px important!;
    padding-bottom: 1.25rem;
    color: #fff;
   
  }
 
  
  
  

  
                      
