.bg-slider{
    background-color: #E7E7E7;
  }


 @media(max-width: 800px) {
    .chairsl{
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }
  }
  .bg-warning{
    border-color: var(--specialOrange);
    background-color: var(--specialOrange)!important;
  }