
.circle-product {
    width: 11rem;
    height: 11rem;

 /* .col-2{
    width: 3rem;
    height: 3rem;
>>>>>>> 4cbdf950daf4850db009a54ee7f2fa7265e71754
    margin: 2rem;
    border: 2px solid var(--circle);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    animation:20s slidy infinite;
    
}

<<<<<<< HEAD
.circle-product img {
    width: 4rem;
    height: 3rem;

.col-2 img{
    width: 2rem;
    height: 2rem;
    

}

.circle-product span {
    color: var(--circle);
}

.circle-product:hover {
    border: none;
}

.circle-product:before {
    content: '';
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 4rem;
    border: 2px dashed var(--specialOrange);
    position: absolute;
    display: none;
    animation: mymove 20s infinite;


   }
  

.col-2:hover:before{
 display: block;
>>>>>>> 4cbdf950daf4850db009a54ee7f2fa7265e71754
}
 


@keyframes mymove {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle-product:hover:before {
    display: block;
}
=======
  

 */
 .swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    width: 150px!important;
    height: 150px!important;
    text-align: center;
    font-size: 1em;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 50%;
  }
  .swiper-slide>img {
    width: 3rem;
    height: 3rem;
  }

  .swiper-slide:hover {
    border: none;
  }
 .swiper-slide::before{
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: none;
    border: 2px dashed var(--specialOrange);
    position: absolute;
    animation: mymove 20s infinite;
 }
 .swiper-slide:hover::before{
    display: block;
 }
  @keyframes mymove {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

