.basket{
   right: 0px;
    margin: 0px;
    padding: 15px;
    display: flex;
    z-index: 999;
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    top: calc(110px + 30%);
    flex-direction: column;
    border-radius: 3px 0px 0px 3px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 75%) 0px 0px 16px -1px;
    font-family: "Open Sans";
    background-color: rgb(47, 51, 58);
    font-weight: 600;
    cursor: pointer;
}
.basket > svg {
    color: var(--specialOrange);
}


.items{
    color: aliceblue;
    font-size: 0.8rem;
    font-weight: bold;
}

.price{
    background-color: aliceblue;
    color: var(--specialOrange);
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0.1rem 1.5rem;
    font-weight: bold;
}