@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
:root {
  --nav:  #2f333a;
  --slider:  #e7e7e7;
  --circle:  #43474e ;
  --productItem: #f1f1f1;
  --specialOrange: #ff7004;
  --footer: #2f333a;
  --footer2: #212121;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  background: white;
  width: 100vw;
}
.nav {
  width: 100vw;
}
.menuItem >a{
  color: white;
  font-size: 1em;
  font-family:  'Open Sans';
  transition: all 0.4s ease 0s;
}
.menuItem>a:hover {
  color: var(--specialOrange);
}
.bg-slider{
  background-color: var(--slider);
}


.bg-slider1{
  background-color: #E7E7E7;
}


.bg-btn {
  background-color: var(--specialOrange);
  color: white;
  font: 16px 'Raleway' sans-serif;
  border-radius: 0;
  line-height: 1;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 17px 36px;
}
.bg-btn:hover {
  background-color: #474747;
  color: var(--specialOrange);
  border:none;
}

.footer {
  background: var(--footer);
  width: 100vw;
}
ul {
  margin:0;
  padding: 0;
}
.listItem {
  transition: all 0.4s ease 0s;
}
.listItem:hover {
  background: var(--specialOrange);
  border-radius: 50%;
}
li {
  transition: all 0.4s ease 0s;
}
li:hover{
  color: var(--specialOrange);
  padding-left: 5px;
  translate: 5px 0;
}

.footerInput {
  display: inline-block;
    vertical-align: top;
    line-height: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100%;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid rgb(67, 71, 78);
    border-radius: 0px;
    text-align: left;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    transition: all 0.4s ease 0s;
}
.footerInput:focus {
  border-color: var(--specialOrange);
}
.footerInput:hover {
  border-color: var(--specialOrange);
}