@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
:root {
  --nav:  #2f333a;
  --slider:  #e7e7e7;
  --circle:  #43474e ;
  --productItem: #f1f1f1;
  --specialOrange: #ff7004;
  --footer: #2f333a;
  --footer2: #212121;
}
.iconSett {
  color: var(--specialOrange);
  font-size: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

.header {
  background: white;
  width: 100vw;
  position: relative;
}
.nav {
  width: 100vw;
  background: var(--nav);
}
.menuItem >a{
  color: white;
  font-size: 1em;
  font-family:  'Open Sans';
  transition: all 0.4s ease 0s;
}
.menuItem>a:hover {
  color: var(--specialOrange);
}
.bg-slider{
  background-color: var(--slider);
}


.bg-slider1{
  background-color: #E7E7E7;
}


.bg-btn {
  background-color: var(--specialOrange);
  color: white;
  font: 1.1 'Raleway' sans-serif;
  border-radius: 0;
  line-height: 1;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 17px 36px;
}
.bg-btn2 {
  background-color: var(--specialOrange);
  color: white;
  font: 1.1 'Raleway' sans-serif;
  border-radius: 0;
  line-height: 1;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 17px 36px;
}
.bg-btn:hover {
  background-color: #474747;
  color: var(--specialOrange);
  border:none;
}
.bg-btn2:hover {
  background-color: #474747;
  color: var(--specialOrange);
  border:none;
}

.footer {
  background: var(--footer);
  width: 100vw;
}
ul {
  margin:0;
  padding: 0;
}
.listItem {
  transition: all 0.4s ease 0s;
}
.listItem:hover {
  background: var(--specialOrange);
  border-radius: 50%;
}
li {
  transition: all 0.4s ease 0s;
}
li:hover{
  color: var(--specialOrange);
  padding-left: 5px;
  translate: 5px 0;
}
.footerTitle {
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    letter-spacing: 1.2px;
    color: rgb(255, 255, 255);
}

.footerInput {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100%;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid rgb(67, 71, 78);
    border-radius: 0px;
    text-align: left;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    transition: all 0.4s ease 0s;
}
.footerInput:focus {
  border-color: var(--specialOrange);
}
.footerInput:hover {
  border-color: var(--specialOrange);
}

.information > ul > li {
  font-size: .9em;
}

.about {
  background: #f4f5f8;
  width: 100vw;
}
.aboutUs > p {
  font-size: .9em;
}

.aboutTitle {
  position: relative;
  color: rgb(71, 71, 71);
  font-weight: 500;
}

.aboutTitle:hover {
  color:var(--specialOrange)
}

.aboutTitle2 {
  font:700 2em "Raleway" ;
  color: rgb(33, 33, 33);
}
.bg-white {
  background: white;
}

.aboutImage {
  height: 60%;
}

.secondFooter {
  width: 100vw;
  background: var(--footer2);
}
.secondFooter >div> p {
  font-size: .8em;
}
.l-news {
  color: white;
  font: 16px 'Raleway' sans-serif;
  border-radius: 0;
  line-height: 1;
  border: none;
  transition: all 0.4s ease 0s;
  font-weight: 500px;
}
.l-news:hover {
  background-color: var(--specialOrange);
  color: white;
  border:none;

}
.cartTitle {
  background: #f4f5f8;
  width: 100vw;
}
.cartTable {
  background: #ebebeb;  
  height: 75px;
}

.imageCustom>img {
  width: 200px;
  height: 200px;
  transition: all 0.4s ease 0s;
}


.subtotal {
  background-color: var(--slider);
  /* border: 1px solid var(--specialOrange); */
}

.bg-delete {
  background: var(--specialOrange);
  color: white;
  font: 1.1 'Raleway' sans-serif;
  border-radius: 4px;
  line-height: 1;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 17px 36px;
}
.bg-delete:hover {
  background: #2f333a;
}

.tableHead {
  background: #ebebeb;
}
.bg-proceed {
  background-color: #474747;
  color: white;
  font: 1.1 'Raleway' sans-serif;
  border-radius: 4px;
  line-height: 1;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 17px 36px;
}
.bg-proceed:hover {
  background-color: var(--specialOrange);
  color: white;
  border:none;
}
.carts{
  width: 100vw;
  transition: all 0.4s ease 0s; 
}
.carts:hover{
  background-color: var(--slider);
}
.textcenter{
  margin-left: 50%;
}


.modalLink{
  color: #fff;
}
.modalButton{
   background-color: var(--specialOrange);
   border: 1px solid var(--specialOrange);
   width: 4rem;
   height: 3rem;
}
.modalInput{
  height: 3rem;
}
.modalButton:hover{
  background-color: var(--specialOrange);
  border: 1px solid var(--specialOrange);
}

.modalButton:hover .modalLink{
  color: #fff;
}

.img-prod {
  height: 20rem;
}

.card-prod {
  width: 18rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  
}

.product-row {
  row-gap: 1rem;
  margin-top: 3rem;
}


.img-prod:hover {
  transform: rotate(15deg);
}

.img-product-1 {
  overflow: hidden;
  background-color: #f1f1f1;
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--specialOrange);
}

.hover-effect:hover {
  transition: all 0.3s;
  color: var(--specialOrange);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.right-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  top: 15%;
  right: 8%;
  visibility: hidden;
}
@keyframes example {
  from {
      top: 20%;
      opacity: 0; 
  }

  to {
      top: 15%;
      opacity: 1;
  }
}
.card-prod:hover .right-icons {
  animation-name: example;
  animation-duration: 0.5s;
  visibility: visible;
}


.icn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icn{
  position: absolute;
  z-index: 4445;
  top: 3%;
  right: 8%;
}

.icn>svg:hover {
  transition: all 0.3s;
  color: var(--specialOrange);
}

.light-button {
  position: absolute;
  font-size: 0.9rem;
  width: 13rem;
  bottom: 2%;
  right: 10%;
  background-color: #fff;
  visibility: hidden;
}

.card-prod:hover .light-button {
  animation-name: button;
  animation-duration: 0.5s;
  visibility: visible;
}

@keyframes button {
  from {
      bottom: 0; 
      opacity: 0;
  }

  to {
      bottom: 2%; 
      opacity: 1;
  }
}

.light-button:hover {
  transition: all 0.3s;
  color: var(--specialOrange);
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 150px!important;
  height: 150px!important;
  text-align: center;
  font-size: 1em;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--nav);
  border-radius: 50%;
  margin: 50px;
  cursor: pointer;
}
.swiper-slide>img {
  width: 3rem;
  height: 3rem;
}

.swiper-slide:hover {
  border: none;
}
.swiper-slide::before{
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: none;
  border: 2px dashed var(--specialOrange);
  position: absolute;
  animation: mymove 20s infinite;
}
.swiper-slide:hover::before{
  display: block;
}
@keyframes mymove {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.breadcrump{
  background-color: #f1f1f1;
  width: 100% !important;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info{
  background-color: #f1f1f1;
  
}
.formSection {
  background-color: #f1f1f1;
  margin-right:10px ;

}
.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.items{
  color: aliceblue;
  font-size: 0.8rem;
  font-weight: bold;
}

.price{
  background-color: aliceblue;
  color: var(--specialOrange);
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.1rem 1.5rem;
  font-weight: bold;
}
.bg-slider{
    background-color: var(--slider);
    width: 100vw;
  }
  .bg-btn {
    background-color: var(--specialOrange);
    color: white;
    font: .1em 'Raleway' sans-serif;
    border-radius: 0;
    line-height: 1;
    border: none;
    transition: all 0.4s ease 0s;
    padding: 17px 36px;
  }
  .bg-btn:hover {
    background-color: black;
    color: var(--specialOrange);
    border:none;
  }
  .title{
    font-size: 1.2em;
    line-height: 1;
    color: var(--specialOrange);
    font-weight: 600;
  }
  .name{
    font-size: 2em;
    font-weight: 700;
  }

  .slidertext{
    
    text-align: left;
    margin-bottom: 150px;
  }
  
  .imageslider {
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }

  .icn-1:hover{
    color: var(--specialOrange);
    transition: all 0.3s;
    cursor: pointer;
  }


.icons{
  width: 15rem;
  display: flex;
}

  .loginIcon{
    position: relative;
  }
  
  .Drop{
    position: absolute;
    z-index: 4444;
    width: 9rem;
    height: 11rem;
    background-color: #fff;
    padding-left: 1rem;
    left: -90%;
    display: none;
  }

  .set{
    display: block !important;
  }
  

  .Drop li{
    width: 85%;
  }
  .Drop  ul{
    list-style: none;
  }
   .indrop:hover{
    color: var(--specialOrange);
    transition: all 0.3s; 
   }

  .indrop{
    list-style: none;
    color: var(--footer2);
    font-size: 0.9rem;
    text-decoration: none;
  }


 

@media(max-width:1100px){
  
  .slidertext{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    height: 100%;
  }
  .name{
    font-size: 35px;
  }
  .title{
    font-size: 20px;
  }
}

@media(max-width: 700px){
 .bg-btn2 {
  display: none;
 }
  .name{
    font-size: 30px;
  }
  .title{
    font-size: 18px;
  }
  .textsize{
    display: none;
  }
  .slidertext{
    position: absolute;
    top: 70%;
    left: 20%;
    width: 100%;
    height: 100%;
  }

  .imageslider{
    position: relative; 
   
  }
  .imageslider>img{
    margin-right:40%;
    padding: 20px;
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

}
@media screen and (max-width:1920px){
  .textsize{
    font-size: calc(12px + (18-12) * (100vw-320px)/(1920-320));
  }
}
.breadcrump{
  background-color: #f1f1f1;
  width: 100% !important;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info{
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.head{
  width: 90%;
}
.cont-info{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.header-contain{
  column-gap: 1rem;
}

.inputs{
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64%;
}

form{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 2rem;
  width: 90%;
}

.row1{
  display: flex;
}
.row1 input{
  width: 16rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}
.row2 input{
  width: 93%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}

.row3 input{
  width: 93%;
  height: 10rem;
  border: none;
  border-radius: 5px;
}

.row4 button{
  margin-top: 1rem;
  width: 97%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: var(--specialOrange);
  color: #f1f1f1;
}

.row4 button:hover{
  background-color: var(--nav);
  transition: all 0.3s;
}


@media(max-width: 425px){
  .info{
      height: 40vh !important;
  }
  .inputs{
      width: 100% !important;
  }
  input{
     width: 100% !important;
  }
}


.fa-bag-shopping{
  color: var(--specialOrange);
  font-size: 32px;
}
tr> td > img {
  width: 180px;
  height: 180px;
}
.mainhead{
  background-color: var(--slider);
}

input{
  height: 3rem;
  border: 1px solid var(--slider);
}
.check{
  width: 1rem;
  height: 1rem;
}


.main-container{
  box-shadow: 1px 1px 5px 5px gray;
}

button{
  background-color: var(--specialOrange);
  color: #fff;
  border: none;
  height: 3rem;
}
button:hover{
  background-color: var(--footer2);
  transition: all 0.3s;
}

@media(max-width: 425px){
  .main-container{
      width: 90% !important;
  }
}
.box {
  margin-left: 25%;
  padding: 50px 30px;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 12px 3px;
}
@media(max-width: 1000px){
      .box{
          margin-left: 10%;
      }
}

.label {
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  color: rgb(33, 33, 33);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}
.label1 {
  width: 100%;
  display: block;
  line-height: 1;
  padding: 12px 15px;
  transition: all 0.4s ease 0s;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 14px;
  border: 1px solid rgb(235, 235, 235);
}

.button {
  display: inline-block;
  text-align: center;
  padding: 17px 36px;
  border-radius: 0px;
  line-height: 1;
  border: 0px;
  transition: all 0.4s ease 0s;
  font-family: Raleway;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 112, 4);
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.hOCsHb:hover {
  background-color: #474747;
  color: white;
  border:none;
}

.account.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: calc(15px);
  padding-left: calc(15px);
}

.create {
  display: inline-block;
  text-align: center;
  padding: 17px 36px;
  border-radius: 0px;
  line-height: 1;
  border: 0px;
  transition: all 0.4s ease 0s;
  font-family: Raleway;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 51, 58);
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.create:hover{
  background-color: rgb(235, 235, 235);
  color: rgb(59, 72, 99);
  border:none;
}
.forget {
  display: inline-block;
  text-align: center;
  padding: 17px 36px;
  border-radius: 0px;
  line-height: 1;
  border: 0px;
  transition: all 0.4s ease 0s;
  font-family: Raleway;
  font-weight: 600;
  color: rgb(59, 72, 99);
  background-color: rgb(235, 235, 235);
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.forget:hover{
  background-color: rgb(47, 51, 58);
  color: rgb(255, 255, 255);
  border:none;
}
.basket{
  right: 0px;
   margin: 0px;
   padding: 15px;
   display: flex;
   z-index: 999;
   position: fixed;
   -webkit-box-align: center;
   align-items: center;
   top: calc(110px + 30%);
   flex-direction: column;
   border-radius: 3px 0px 0px 3px;
   color: rgb(255, 255, 255);
   box-shadow: rgb(0 0 0 / 75%) 0px 0px 16px -1px;
   font-family: "Open Sans";
   background-color: rgb(47, 51, 58);
   font-weight: 600;
   cursor: pointer;
}

.basket > svg {
   color: var(--specialOrange);
}


.items{
   color: aliceblue;
   font-size: 0.8rem;
   font-weight: bold;
}

.price{
   background-color: aliceblue;
   color: var(--specialOrange);
   border-radius: 3px;
   font-size: 0.8rem;
   padding: 0.1rem 1.5rem;
   font-weight: bold;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 150px!important;
  height: 150px!important;
  text-align: center;
  font-size: 1em;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--nav);
  border-radius: 50%;
  margin: 50px;
  cursor: pointer;
}
.swiper-slide>img {
  width: 3rem;
  height: 3rem;
}

.swiper-slide:hover {
  border: none;
}
.swiper-slide::before{
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: none;
  border: 2px dashed var(--specialOrange);
  position: absolute;
  animation: mymove 20s infinite;
}
.swiper-slide:hover::before{
  display: block;
}
@keyframes mymove {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.infoSection {
  background-color: #ebebeb;
}

.selectSort {
  min-height: 40px;
  color: rgb(25, 25, 25);
  max-width: calc(100% - 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9em;
  outline: none;
}
.selectSort:focus{
  border: 2px solid var(--specialOrange);
}
.images-info {
  width: 384px;
  height: 452px;
}