:root {
  --nav:  #2f333a;
  --slider:  #e7e7e7;
  --circle:  #43474e ;
  --productItem: #f1f1f1;
  --specialOrange: #ff7004;
  --footer2: #212121;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
